a# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/



__pycache__
build
dist
*.egg-info
*.vscode/
*.pth
tests
checkpoints
datasets
runs
cache
*.out
*.o
data
figures/*.pdf

model_zoo
*.png

reconstructions


thirdparty/tartanair_tools/abandonedfactory/Easy/depth_left.zip
thirdparty/tartanair_tools/abandonedfactory/Easy/depth_right.zip
thirdparty/tartanair_tools/abandonedfactory/Easy/image_left.zip
thirdparty/tartanair_tools/abandonedfactory/Easy/image_right.zip
thirdparty/tartanair_tools/abandonedfactory/Hard/depth_left.zip
thirdparty/tartanair_tools/abandonedfactory/Hard/depth_right.zip
thirdparty/tartanair_tools/abandonedfactory/Hard/image_left.zip
thirdparty/tartanair_tools/abandonedfactory/Hard/image_right.zip
thirdparty/tartanair_tools/abandonedfactory_night/Easy/depth_left.zip
thirdparty/tartanair_tools/abandonedfactory_night/Easy/depth_right.zip
thirdparty/tartanair_tools/abandonedfactory_night/Easy/image_left.zip
thirdparty/tartanair_tools/abandonedfactory_night/Easy/image_right.zip
thirdparty/tartanair_tools/abandonedfactory_night/Hard/depth_left.zip
thirdparty/tartanair_tools/abandonedfactory_night/Hard/depth_right.zip
thirdparty/tartanair_tools/abandonedfactory_night/Hard/image_left.zip
thirdparty/tartanair_tools/abandonedfactory_night/Hard/image_right.zip
thirdparty/tartanair_tools/amusement/Easy/depth_left.zip
thirdparty/tartanair_tools/amusement/Easy/depth_right.zip
thirdparty/tartanair_tools/amusement/Easy/image_left.zip
thirdparty/tartanair_tools/amusement/Easy/image_right.zip
thirdparty/tartanair_tools/amusement/Hard/depth_left.zip
thirdparty/tartanair_tools/amusement/Hard/depth_right.zip
thirdparty/tartanair_tools/amusement/Hard/image_left.zip
thirdparty/tartanair_tools/amusement/Hard/image_right.zip
thirdparty/tartanair_tools/carwelding/Easy/depth_left.zip
thirdparty/tartanair_tools/carwelding/Easy/depth_right.zip
thirdparty/tartanair_tools/carwelding/Easy/image_left.zip
thirdparty/tartanair_tools/carwelding/Easy/image_right.zip
thirdparty/tartanair_tools/carwelding/Hard/depth_left.zip
thirdparty/tartanair_tools/carwelding/Hard/depth_right.zip
thirdparty/tartanair_tools/carwelding/Hard/image_left.zip
thirdparty/tartanair_tools/carwelding/Hard/image_right.zip
thirdparty/tartanair_tools/endofworld/Easy/depth_left.zip
thirdparty/tartanair_tools/endofworld/Easy/depth_right.zip
thirdparty/tartanair_tools/endofworld/Easy/image_left.zip
thirdparty/tartanair_tools/endofworld/Easy/image_right.zip
thirdparty/tartanair_tools/endofworld/Hard/depth_left.zip
thirdparty/tartanair_tools/endofworld/Hard/depth_right.zip
thirdparty/tartanair_tools/endofworld/Hard/image_left.zip
thirdparty/tartanair_tools/endofworld/Hard/image_right.zip
thirdparty/tartanair_tools/gascola/Easy/depth_left.zip
thirdparty/tartanair_tools/gascola/Easy/depth_right.zip
thirdparty/tartanair_tools/gascola/Easy/image_left.zip
thirdparty/tartanair_tools/gascola/Easy/image_right.zip
thirdparty/tartanair_tools/gascola/Hard/depth_left.zip
thirdparty/tartanair_tools/gascola/Hard/depth_right.zip
thirdparty/tartanair_tools/gascola/Hard/image_left.zip
thirdparty/tartanair_tools/gascola/Hard/image_right.zip
thirdparty/tartanair_tools/hospital/Easy/depth_left.zip
thirdparty/tartanair_tools/hospital/Easy/depth_right.zip
thirdparty/tartanair_tools/hospital/Easy/image_left.zip
thirdparty/tartanair_tools/hospital/Easy/image_right.zip
thirdparty/tartanair_tools/hospital/Hard/depth_left.zip
thirdparty/tartanair_tools/hospital/Hard/depth_right.zip
thirdparty/tartanair_tools/hospital/Hard/image_left.zip
thirdparty/tartanair_tools/hospital/Hard/image_right.zip
thirdparty/tartanair_tools/japanesealley/Easy/depth_left.zip
thirdparty/tartanair_tools/japanesealley/Easy/depth_right.zip
thirdparty/tartanair_tools/japanesealley/Easy/image_left.zip
thirdparty/tartanair_tools/japanesealley/Easy/image_right.zip
thirdparty/tartanair_tools/japanesealley/Hard/depth_left.zip
thirdparty/tartanair_tools/japanesealley/Hard/depth_right.zip
thirdparty/tartanair_tools/japanesealley/Hard/image_left.zip
thirdparty/tartanair_tools/japanesealley/Hard/image_right.zip
thirdparty/tartanair_tools/neighborhood/Easy/depth_left.zip
thirdparty/tartanair_tools/neighborhood/Easy/depth_right.zip
thirdparty/tartanair_tools/neighborhood/Easy/image_left.zip
thirdparty/tartanair_tools/neighborhood/Easy/image_right.zip
thirdparty/tartanair_tools/neighborhood/Hard/depth_left.zip
thirdparty/tartanair_tools/neighborhood/Hard/depth_right.zip
thirdparty/tartanair_tools/neighborhood/Hard/image_left.zip
thirdparty/tartanair_tools/neighborhood/Hard/image_right.zip
thirdparty/tartanair_tools/ocean/Easy/depth_left.zip
thirdparty/tartanair_tools/ocean/Easy/depth_right.zip
thirdparty/tartanair_tools/ocean/Easy/image_left.zip
thirdparty/tartanair_tools/ocean/Easy/image_right.zip
thirdparty/tartanair_tools/ocean/Hard/depth_left.zip
thirdparty/tartanair_tools/ocean/Hard/depth_right.zip
thirdparty/tartanair_tools/ocean/Hard/image_left.zip
thirdparty/tartanair_tools/ocean/Hard/image_right.zip
thirdparty/tartanair_tools/office/Easy/depth_left.zip
thirdparty/tartanair_tools/office/Easy/depth_right.zip
thirdparty/tartanair_tools/office/Easy/image_left.zip
thirdparty/tartanair_tools/office/Easy/image_right.zip
thirdparty/tartanair_tools/office/Hard/depth_left.zip
thirdparty/tartanair_tools/office/Hard/depth_right.zip
thirdparty/tartanair_tools/office/Hard/image_left.zip
thirdparty/tartanair_tools/office/Hard/image_right.zip
thirdparty/tartanair_tools/office2/Easy/depth_left.zip
thirdparty/tartanair_tools/office2/Easy/depth_right.zip
thirdparty/tartanair_tools/office2/Easy/image_left.zip
thirdparty/tartanair_tools/office2/Easy/image_right.zip
thirdparty/tartanair_tools/office2/Hard/depth_left.zip
thirdparty/tartanair_tools/office2/Hard/depth_right.zip
thirdparty/tartanair_tools/office2/Hard/image_left.zip
thirdparty/tartanair_tools/office2/Hard/image_right.zip
thirdparty/tartanair_tools/oldtown/Easy/depth_left.zip
thirdparty/tartanair_tools/oldtown/Easy/depth_right.zip
thirdparty/tartanair_tools/oldtown/Easy/image_left.zip
thirdparty/tartanair_tools/oldtown/Easy/image_right.zip
thirdparty/tartanair_tools/oldtown/Hard/depth_left.zip
thirdparty/tartanair_tools/oldtown/Hard/depth_right.zip
thirdparty/tartanair_tools/oldtown/Hard/image_left.zip
thirdparty/tartanair_tools/oldtown/Hard/image_right.zip
thirdparty/tartanair_tools/seasidetown/Easy/depth_left.zip
thirdparty/tartanair_tools/seasidetown/Easy/depth_right.zip
thirdparty/tartanair_tools/seasidetown/Easy/image_left.zip
thirdparty/tartanair_tools/seasidetown/Easy/image_right.zip
thirdparty/tartanair_tools/seasidetown/Hard/depth_left.zip
thirdparty/tartanair_tools/seasidetown/Hard/depth_right.zip
thirdparty/tartanair_tools/seasidetown/Hard/image_left.zip
thirdparty/tartanair_tools/seasidetown/Hard/image_right.zip
thirdparty/tartanair_tools/seasonsforest/Easy/depth_left.zip
thirdparty/tartanair_tools/seasonsforest/Easy/depth_right.zip
thirdparty/tartanair_tools/seasonsforest/Easy/image_left.zip
thirdparty/tartanair_tools/seasonsforest/Easy/image_right.zip
thirdparty/tartanair_tools/seasonsforest/Hard/depth_left.zip
thirdparty/tartanair_tools/seasonsforest/Hard/depth_right.zip
thirdparty/tartanair_tools/seasonsforest/Hard/image_left.zip
thirdparty/tartanair_tools/seasonsforest/Hard/image_right.zip
thirdparty/tartanair_tools/seasonsforest_winter/Easy/depth_left.zip
thirdparty/tartanair_tools/seasonsforest_winter/Easy/depth_right.zip
thirdparty/tartanair_tools/seasonsforest_winter/Easy/image_left.zip
thirdparty/tartanair_tools/seasonsforest_winter/Easy/image_right.zip
thirdparty/tartanair_tools/seasonsforest_winter/Hard/depth_left.zip
thirdparty/tartanair_tools/seasonsforest_winter/Hard/depth_right.zip
thirdparty/tartanair_tools/seasonsforest_winter/Hard/image_left.zip
thirdparty/tartanair_tools/seasonsforest_winter/Hard/image_right.zip
thirdparty/tartanair_tools/soulcity/Easy/depth_left.zip
thirdparty/tartanair_tools/soulcity/Easy/depth_right.zip
thirdparty/tartanair_tools/soulcity/Easy/image_left.zip
thirdparty/tartanair_tools/soulcity/Easy/image_right.zip
thirdparty/tartanair_tools/soulcity/Hard/depth_left.zip
thirdparty/tartanair_tools/soulcity/Hard/depth_right.zip
thirdparty/tartanair_tools/soulcity/Hard/image_left.zip
thirdparty/tartanair_tools/soulcity/Hard/image_right.zip
thirdparty/tartanair_tools/westerndesert/Easy/depth_left.zip
thirdparty/tartanair_tools/westerndesert/Easy/depth_right.zip
thirdparty/tartanair_tools/westerndesert/Easy/image_left.zip
thirdparty/tartanair_tools/westerndesert/Easy/image_right.zip
thirdparty/tartanair_tools/westerndesert/Hard/depth_left.zip
thirdparty/tartanair_tools/westerndesert/Hard/depth_right.zip
thirdparty/tartanair_tools/westerndesert/Hard/image_left.zip
thirdparty/tartanair_tools/westerndesert/Hard/image_right.zip
